# ======================
# NODE
# ======================
node_modules/

# ======================
# BUILD FILES
# ======================
dist/

# ======================
# ENV FILES (IMPORTANT)
# ======================
.env

# ======================
# LOGS
# ======================
logs/
*.log
npm-debug.log*

# ======================
# OS FILES
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE FILES
# ======================
.vscode/
.idea/

# ======================
# DOCKER (optional)
# ======================
docker-compose.override.yml